@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
  color: black;
}

body {
  @apply bg-gray-50 h-screen w-full;
}
