@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  margin: 0 !important;
}

.mark-field div[role="alert"],
.mark-field .frawy03 {
  padding-top: 5px !important;
  padding-left: 0 !important;
  display: flex;
  gap: 5px;
  align-items: center;
}

a {
  text-decoration: none !important;
  color: black;
}

.fui-Button {
  gap: 5px !important;
}

@layer base {
  body {
    @apply bg-gray-50 h-screen w-full;
  }
  .error_variant {
    @apply bg-red-500 shadow-xl hover:bg-red-700 text-white disabled:bg-gray-50 disabled:text-white;
  }

  .success_variant {
    @apply bg-green-500 shadow-xl hover:bg-green-700 text-white disabled:bg-gray-50 disabled:text-white;
  }
}
